body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f0f0f0;
}

.toolbar {
  background: #ddd;
  padding: 8px 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

canvas {
  border-radius: 10px;
  border: 1px solid #000;
}

input[type="color"] {
  inline-size: 50px;
  block-size: 22px;
}

input[type="number"] {
  inline-size: 50px;
  block-size: 16px;
}

span {
  font-size: 18px;
  cursor: pointer;
  padding: 0 9px 1px;
  background: #eee;
  border-radius: 5px;
  vertical-align: baseline;
  text-align: center;
}
