body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f0f0f0;
}

.toolbar {
  padding: 10px 15px;
  background: #ddd;
  margin-top: 10px;
  border-radius: 10px;
}

canvas {
  border-radius: 10px;
  border: 1px solid #000;
}

button {
  cursor: pointer;
}

button,
input {
  padding: 3px 5px;
}
